<nav class="nav">
  <h1><a routerLink="">E-Comm</a> </h1>
  

</nav>
<div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>
      Username:
      <input type="text" formControlName="username">
      <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors">
        <div *ngIf="loginForm.get('username')?.hasError('required')">Username is required</div>
        <div *ngIf="loginForm.get('username')?.hasError('minlength')">Username must be at least 4 characters</div>
      </div>
    </label>
  
    <label>
      Password:
      <input type="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors">
        <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required</div>
        <div *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 8 characters</div>
      </div>
    </label>
  <div>
    <button type="submit" [disabled]="!loginForm.valid">Log In</button>
     <a style="cursor: pointer;" routerLink="/sign-up">Sign up</a>
    </div>
  </form>
</div>
<div class="footer">
  <ul>
      <li>
        <a href="">Become a Seller</a>
      </li>
      <li>
        <a href="">Polices</a>
      </li>
      <li>
        <a href="">Terms and Conditions</a>
      </li>
      <li>
        <a href="">Help Center</a>
      </li>
      <li>
          <a href="">News</a>
      </li>
      <li>
          <a href="">Facebook</a>
      </li>
      <li>
          <a href="">Youtube</a>
      </li>
      <li>
          <a href="">Sitemap</a>
      </li>
      <li>
          <a href="">FAQ</a>
      </li>
    </ul>
    <p>© 2022 E-comme Project</p>
    
</div>