<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
 
  <div>
    <label for="currentPassword">current Password:</label>
    <input type="currentPassword" id="currentPassword" formControlName="currentPassword">
    <div *ngIf="currentPassword?.invalid && (currentPassword?.dirty || currentPassword?.touched)">
        <div *ngIf="currentPassword?.errors?.['required']">
          currentPassword is required.
        </div>
        <div *ngIf="currentPassword?.errors?.['minlength'] as minlength">
          currentPassword must be at least {{ minlength.requiredLength }} characters long.
        </div>
      </div>
  </div>
  <div>
    <label for="newPassword">New Password:</label>
    <input type="newPassword" id="newPassword" formControlName="newPassword">
    <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
        <div *ngIf="newPassword?.errors?.['required']">
          newPassword is required.
        </div>
        <div *ngIf="newPassword?.errors?.['minlength'] as minlength">
          newPassword must be at least {{ minlength.requiredLength }} characters long.
        </div>
      </div>
  </div>
  <button type="submit" [disabled]="changePasswordForm?.invalid">Change Password</button>
</form>